.login-area {
  width: 375px;
  height: 667px;
  background-color: white;
  padding: 20px;
  margin: 0 auto;
  overflow-y: scroll;
}
.login-container {
  width: 295px;
  text-align: left;
  margin: 10px auto;
}
.topLogo {
  text-align: left;
}

.topLogo img {
  height: 40px;
  width: 100px;
}
.login-title {
  font-family: NotoSans-Bold;
}
.title {
  width: "100%";
  text-align: center;
  font-family: "Roboto";
  font-weight: "700";
  font-size: 24px;
  line-height: 35px;
  margin-top: 10px;
  margin-bottom: 20px;
}
